/* From Uiverse.io by Satwinder04 */
.input-container {
    position: relative;
    margin: 50px auto;
    width: 200px;
}

.input-container input {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--text);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text);
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input:focus~.label,
.input-container input:valid~.label {
    top: -20px;
    font-size: 16px;
    color: var(--text-h);
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--text-h);
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input:focus~.underline,
.input-container input:valid~.underline {
    transform: scaleX(1);
}


/* From Uiverse.io by csemszepp */
.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: #e8e8e8;
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
}

.custum-file-upload input {
    display: none;
}